<ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" routerLink='/myaccount/orders' routerLinkActive='active'  aria-current="page" href="javascript:void(0)">My Orders</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink='/myaccount/offers' routerLinkActive='active'  aria-current="page" href="javascript:void(0)">My Offer</a>
      </li>
    <li class="nav-item">
      <a class="nav-link" routerLink='/myaccount/wishlist' routerLinkActive='active'   href="javascript:void(0)">Wishlist</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink='/myaccount/profile' routerLinkActive='active'   href="javascript:void(0)">Profile</a>
    </li>
  </ul>

  <h1>Below is the Componet which is changing</h1>

  <router-outlet></router-outlet>