<!-- Hi My name is lokesh -->
<!-- {{today}} <br>
{{today | date:'short'}} <br>
{{getDate()}}  -->
<!-- {{'3' | currency:'INR'}} -->
<!-- <ng-container *ngIf='isLoggedIn'>
  <h3>I am Logged in</h3>
</ng-container>
<ng-container *ngIf='!isLoggedIn'>
  <h3>I am Logged out</h3>
</ng-container>

<ng-container>
  <h1 *ngFor="let item of oops;let i = index">
  <ng-container *ngIf='i > 2'>
    {{i | number :'1.3-4'}}

      {{item.a}} {{item.b | currency:'USD'}}
  </ng-container>
  
  </h1>
  <iframe width="560" height="315" [src]="youtubeLink | safe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  {{yourName | link:false}}
  <ng-container *ngIf='show'>
    I am Show {{show}}
  </ng-container>
  <button (click)='show=!show'>button</button>
  <router-outlet></router-outlet>
</ng-container>
<input type="text" [(ngModel)]='yourName'  name='name'>
{{yourName}}
<app-my-profile [giveName]='yourName' (getDate)='afterGettingDate($event)'></app-my-profile>


<div class="login logout">
  <button (click)='shared.login()'>login</button>
  <button (click)='shared.logout()'>logout</button>
  <button routerLink='/myaccount/offers'>MyAccount</button>
</div>

<div>
  <a href="javascript:void(0)" [routerLink]='["mytodo/abcd","COD"]' >GO to Create Tasks</a>

  <a href="javascript:void(0)" [routerLink]='["my-orders","COD"]' [queryParams]="{'id':2,'type':'COD'}" >GO to orders</a>






<button (click)='goToOrders()'>Go to orders</button>
  <button [class.btn-danger]='yourName == "subarata"' >Delete</button>

  <button [ngClass]='{"btn-danger":yourName == "subarata"}' >Delete</button>

  <button [style.background-color]="style1 ? 'red' : 'green'" (click)='style1 = !style1' >Delete</button>

  <button [ngStyle]="{'background-color': style1 ? 'red' : 'green' }" (click)='style1 = !style1' >Delete</button>
</div> -->

<!-- <iframe width="560" height="315" [src]="youtubeLink | safe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
<!-- 
<a href="javascript:void(0)" routerLink='{{"my orders/ORD123" | link}}' [queryParams]="{'id':2,'type':'COD'}" >GO to orders</a>
<a href="javascript:void(0)" (click)='goToOrders()' >GO to orders click</a> -->

<app-header *ngIf='header'></app-header>
<router-outlet></router-outlet>

<simple-notifications></simple-notifications>

