/* You can add global styles to this file, and also import other style files */
.myCustomModalClass2 .modal-dialog .modal-content{
    max-width: 900px;
    background-color: transparent;
    min-height: 500px;
    border: none;
  }